<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove user</title>
    <style>
        span {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>

<form action="#" th:action="@{/remove_user}" method="post" th:object="${user}">

    <h3>Remove User:</h3>

    <label>User email:</label>
    <input type="email" th:field="*{email}"> <br>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>

    <button type="submit">Remove User</button>





</form>




</body>
</html>